@use "sass:map";
@import "variables";
@import "mixins";
@import "utilities";
// Helpers
@import "helpers/color-bg";
@import "helpers/colored-links";
@import "helpers/position";

// Layout & components
@import "reboot";
@import "containers";
@import "grid";
@import "base/general";
@import "base/layout";
@import "theme/print";

// Utilities
@import "utilities/api";

@font-face {
  font-family: "metropolis";
  src: url("../fonts/metropolis/Metropolis-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "metropolis";
  src: url("../fonts/metropolis/Metropolis-SemiBold.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "metropolis";
  src: url("../fonts/metropolis/Metropolis-Bold.woff2");
  font-weight: 600;
}
