// Container mixins
@use "../variables" as *;

@use "../mixins/breakpoints" as *;

// Original container mixin
@mixin make-container($gutter: $container-padding-x) {
  --gutter-x: #{$gutter};
  --gutter-y: 0;
  width: 100%;
  padding-right: calc(
    var(--gutter-x) * 0.5
  ); // stylelint-disable-line function-disallowed-list
  padding-left: calc(
    var(--gutter-x) * 0.5
  ); // stylelint-disable-line function-disallowed-list
  margin-right: auto;
  margin-left: auto;
}

// Custom mixin to generate container-fluid-left and container-fluid-right
// Fluid on one side with normal max width on the other
@mixin make-container-fluid-side-max-widths($side, $max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  margin-#{$side}: 0;
  padding-#{$side}: 0; 

  > .row {
    margin-#{$side}: 0;
    
    > [class*="col-"] {
      padding-#{$side}: 0;
    }
  }

  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-min($breakpoint, $breakpoints) {
      max-width: calc(50% + #{$container-max-width} / 2);
    }
  }
}
