@mixin primary-icon-container() {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: #f9fafb;
  border-radius: 100%;
}
