@import 'variables';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot'); /* IE9 Compat Modes */
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff')
      format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?#seed-ui') format('svg'),
    /* Modern Browsers */
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf')
      format('truetype'); /* Safari, Android, iOS */
  font-weight: 500;
  font-style: normal;
  font-display: swap; /* Improves loading performance */
  font-variant: normal;
  font-feature-settings: normal;
}
