[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'seeds-ui';
  speak: never;
  font-style: normal;
  font-weight: 500;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-graduated:before {
  content: '\e94e';
}
.icon-book:before {
  content: '\e94d';
}
.icon-tiktok:before {
  content: '\e94c';
}
.icon-snapchat:before {
  content: '\e947';
}
.icon-telegram:before {
  content: '\e948';
}
.icon-rss-rss-icon:before {
  content: '\e949';
}
.icon-simple-clock:before {
  content: '\e946';
}
.icon-donation:before {
  content: '\e942';
}
.icon-user-rounded:before {
  content: '\e943';
}
.icon-users-stack:before {
  content: '\e944';
}
.icon-help-desk:before {
  content: '\e945';
}
.icon-huawei:before {
  content: '\e937';
}
.icon-google-play:before {
  content: '\e938';
}
.icon-app-gallery:before {
  content: '\e939';
}
.icon-leading:before {
  content: '\e93a';
}
.icon-dark-mode:before {
  content: '\e93b';
}
.icon-reader:before {
  content: '\e93c';
}
.icon-speaker:before {
  content: '\e93d';
}
.icon-out-zoom:before {
  content: '\e93e';
}
.icon-zoom:before {
  content: '\e93f';
}
.icon-rounded-youtube:before {
  content: '\e940';
}
.icon-rounded-linkedin:before {
  content: '\e941';
}
.icon-non-profit:before {
  content: '\e931';
}
.icon-government:before {
  content: '\e932';
}
.icon-businessmen:before {
  content: '\e933';
}
.icon-individuals:before {
  content: '\e934';
}
.icon-customer-service:before {
  content: '\e935';
}
.icon-left-arrow:before {
  content: '\e936';
}
.icon-date-dots:before {
  content: '\e930';
}
.icon-document-done:before {
  content: '\e92d';
}
.icon-smile:before {
  content: '\e92e';
}
.icon-heart:before {
  content: '\e92f';
}
.icon-external:before {
  content: '\e921';
}
.icon-money:before {
  content: '\e922';
}
.icon-screen:before {
  content: '\e923';
}
.icon-phone:before {
  content: '\e924';
}
.icon-chat:before {
  content: '\e925';
}
.icon-mail:before {
  content: '\e926';
}
.icon-stare:before {
  content: '\e927';
}
.icon-time:before {
  content: '\e928';
}
.icon-share:before {
  content: '\e929';
}
.icon-profile:before {
  content: '\e92a';
}
.icon-building:before {
  content: '\e92b';
}
.icon-date:before {
  content: '\e92c';
}
.icon-location:before {
  content: '\e91d';
}
.icon-clock:before {
  content: '\e91e';
}
.icon-calendar:before {
  content: '\e91f';
}
.icon-clouds:before {
  content: '\e920';
}
.icon-rounded-check:before {
  content: '\e91c';
}
.icon-dash:before {
  content: '\e91a';
}
.icon-checkmark:before {
  content: '\e91b';
}
.icon-question1:before {
  content: '\e910';
}
.icon-alert:before {
  content: '\e918';
}
.icon-sucess:before {
  content: '\e919';
}
.icon-info:before {
  content: '\e90f';
}
.icon-xtwitter:before {
  content: '\e90e';
}
.icon-house:before {
  content: '\e905';
}
.icon-file-plus:before {
  content: '\e902';
}
.icon-arrow-down:before {
  content: '\e906';
}
.icon-warning:before {
  content: '\e907';
}
.icon-tooltip-dark:before {
  content: '\e908';
}
.icon-success:before {
  content: '\e909';
}
.icon-search:before {
  content: '\e90a';
}
.icon-resizehandler:before {
  content: '\e90b';
}
.icon-question:before {
  content: '\e90c';
}
.icon-lock-signature:before {
  content: '\e90d';
}
.icon-link-signature:before {
  content: '\e911';
}
.icon-language:before {
  content: '\e912';
}
.icon-file-upload:before {
  content: '\e913';
}
.icon-feedback:before {
  content: '\e914';
}
.icon-dropdown-input:before {
  content: '\e915';
}
.icon-close:before {
  content: '\e916';
}
.icon-arrow-right:before {
  content: '\e917';
}
.icon-btn-arrow-right:before {
  content: '\e904';
}
.icon-keyframes-double-black:before {
  content: '\e903';
}
.icon-menu-item-check:before {
  content: '\e900';
}
.icon-sort:before {
  content: '\e94b';
}
.icon-filter:before {
  content: '\e94a';
}
.icon-menu-caret:before {
  content: '\e901';
}
.icon-google:before {
  content: '\ea88';
}
.icon-google2:before {
  content: '\ea89';
}
.icon-facebook:before {
  content: '\ea90';
}
.icon-facebook2:before {
  content: '\ea91';
}
.icon-instagram:before {
  content: '\ea92';
}
.icon-whatsapp:before {
  content: '\ea93';
}
.icon-linkedin:before {
  content: '\eac9';
}
.icon-linkedin2:before {
  content: '\eaca';
}
.icon-pinterest:before {
  content: '\ead1';
}
.icon-pinterest2:before {
  content: '\ead2';
}
