$icomoon-font-family: 'seeds-ui' !default;
$icomoon-font-path: 'fonts' !default;

$icon-graduated: unquote('"\\e94e"');
$icon-book: unquote('"\\e94d"');
$icon-tiktok: unquote('"\\e94c"');
$icon-snapchat: unquote('"\\e947"');
$icon-telegram: unquote('"\\e948"');
$icon-rss-rss-icon: unquote('"\\e949"');
$icon-simple-clock: unquote('"\\e946"');
$icon-donation: unquote('"\\e942"');
$icon-user-rounded: unquote('"\\e943"');
$icon-users-stack: unquote('"\\e944"');
$icon-help-desk: unquote('"\\e945"');
$icon-huawei: unquote('"\\e937"');
$icon-google-play: unquote('"\\e938"');
$icon-app-gallery: unquote('"\\e939"');
$icon-leading: unquote('"\\e93a"');
$icon-dark-mode: unquote('"\\e93b"');
$icon-reader: unquote('"\\e93c"');
$icon-speaker: unquote('"\\e93d"');
$icon-out-zoom: unquote('"\\e93e"');
$icon-zoom: unquote('"\\e93f"');
$icon-rounded-youtube: unquote('"\\e940"');
$icon-rounded-linkedin: unquote('"\\e941"');
$icon-non-profit: unquote('"\\e931"');
$icon-government: unquote('"\\e932"');
$icon-businessmen: unquote('"\\e933"');
$icon-individuals: unquote('"\\e934"');
$icon-customer-service: unquote('"\\e935"');
$icon-left-arrow: unquote('"\\e936"');
$icon-date-dots: unquote('"\\e930"');
$icon-document-done: unquote('"\\e92d"');
$icon-smile: unquote('"\\e92e"');
$icon-heart: unquote('"\\e92f"');
$icon-external: unquote('"\\e921"');
$icon-money: unquote('"\\e922"');
$icon-screen: unquote('"\\e923"');
$icon-phone: unquote('"\\e924"');
$icon-chat: unquote('"\\e925"');
$icon-mail: unquote('"\\e926"');
$icon-stare: unquote('"\\e927"');
$icon-time: unquote('"\\e928"');
$icon-share: unquote('"\\e929"');
$icon-profile: unquote('"\\e92a"');
$icon-building: unquote('"\\e92b"');
$icon-date: unquote('"\\e92c"');
$icon-location: unquote('"\\e91d"');
$icon-clock: unquote('"\\e91e"');
$icon-calendar: unquote('"\\e91f"');
$icon-clouds: unquote('"\\e920"');
$icon-rounded-check: unquote('"\\e91c"');
$icon-dash: unquote('"\\e91a"');
$icon-checkmark: unquote('"\\e91b"');
$icon-question1: unquote('"\\e910"');
$icon-alert: unquote('"\\e918"');
$icon-sucess: unquote('"\\e919"');
$icon-info: unquote('"\\e90f"');
$icon-xtwitter: unquote('"\\e90e"');
$icon-house: unquote('"\\e905"');
$icon-file-plus: unquote('"\\e902"');
$icon-arrow-down: unquote('"\\e906"');
$icon-warning: unquote('"\\e907"');
$icon-tooltip-dark: unquote('"\\e908"');
$icon-success: unquote('"\\e909"');
$icon-search: unquote('"\\e90a"');
$icon-resizehandler: unquote('"\\e90b"');
$icon-question: unquote('"\\e90c"');
$icon-lock-signature: unquote('"\\e90d"');
$icon-link-signature: unquote('"\\e911"');
$icon-language: unquote('"\\e912"');
$icon-file-upload: unquote('"\\e913"');
$icon-feedback: unquote('"\\e914"');
$icon-dropdown-input: unquote('"\\e915"');
$icon-close: unquote('"\\e916"');
$icon-arrow-right: unquote('"\\e917"');
$icon-btn-arrow-right: unquote('"\\e904"');
$icon-keyframes-double-black: unquote('"\\e903"');
$icon-menu-item-check: unquote('"\\e900"');
$icon-sort: unquote('"\\e94b"');
$icon-filter: unquote('"\\e94a"');
$icon-menu-caret: unquote('"\\e901"');
$icon-google: unquote('"\\ea88"');
$icon-google2: unquote('"\\ea89"');
$icon-facebook: unquote('"\\ea90"');
$icon-facebook2: unquote('"\\ea91"');
$icon-instagram: unquote('"\\ea92"');
$icon-whatsapp: unquote('"\\ea93"');
$icon-linkedin: unquote('"\\eac9"');
$icon-linkedin2: unquote('"\\eaca"');
$icon-pinterest: unquote('"\\ead1"');
$icon-pinterest2: unquote('"\\ead2"');
