@use "../base" as *;
ul.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: flex;
    font-weight: 400;
    > span,
    a {
      max-width: 260px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    align-items: center;
    [dir='rtl'] & {
      &::before {
        rotate: 180deg;
      }
    }
    &::before {
      margin: 0 4px;
    }

    a {
      text-decoration: none;
      color: $gray-900;
    }

    &:last-child {
      color: $gray-500;
    }
    &:first-child {
      &::before {
        display: none;
      }
    }
  }
}
