$nav-item: (
  default: (
    color: $black,
    border-color: $white,
    background: $white,
    active: (
      color: $black,
      border-color: $blue,
      background: transparent,
    ),
    hover: (
      border-color: $blue,
      background: transparent,
    ),
    active-hover: (
      border-color: $blue,
      background: transparent,
    ),
    active-pressed: (
      border-color: $blue,
      background: transparent,
    ),
    active-focused: (
      border-color: $blue,
      background: transparent,
    ),
    active-disable: (
      border-color: $blue,
      background: transparent,
    ),
  ),
  neutral: (
    color: $black,
    border-color: $white,
    background: $white,
    active: (
      color: $black,
      border-color: transparent,
      background: transparent,
    ),
    hover: (
      border-color: $black,
      background: $gray-100,
    ),
    active-hover: (
      border-color: $black,
      background: $gray-100,
    ),
    active-pressed: (
      border-color: $black,
      background: $gray-200,
    ),
    active-focused: (
      border-color: transparent,
      background: transparent,
    ),
    active-disable: (
      border-color: transparent,
      background: transparent,
    ),
  ),
  green: (
    color: $black,
    border-color: $gray-100,
    background: $white,
    active: (
      color: $black,
      background: $gray-100,
    ),
    hover: (
      background: $gray-100,
    ),
    active-hover: (
      background: $gray-100,
    ),
    active-pressed: (
      background: $gray-100,
    ),
    active-focused: (
      background: $gray-100,
    ),
    active-disable: (
      background: transparent,
    ),
  ),
);

.menu {
  .dropdown {
    position: relative;
    &.open {
      .dropdown-menu {
        display: block;
      }
    }
  }
}

.menu--main {
  .menu {
    &.dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;
      font-size: 14px;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }
  }
}

@include header-nav($nav-item);
