a {
  text-decoration: none;
  font-weight: 400;
  @include font-size(16px);
  transition: color 0.2s;
  color: $primary;
  outline: 2px solid transparent;
  cursor: pointer;
  &.inline,
  &:hover {
    text-decoration: underline;
    color: $primary;
  }
  &:focus {
    color: $primary;
  }
  &.small {
    font-size: 14px;
  }
  &.x-small {
    font-size: 12px;
  }
  &:focus {
    outline: 2px solid #161616;
  }
  &[target='_blank']:not([class^='icon']) {
    @include icon($icon-external, 20px, 'inherit', '::after', 8px);
  }
}