dialog {
  inset: 0;
  padding: 0;
  margin: 0;
  margin: auto;
  border: unset;
  border-radius: 8px;
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  max-width: 800px;
  h4 {
    color: #1f2a37;
    @include font-size(18px);
    font-weight: 600;
  }
  p {
    @include font-size(14px);

    font-weight: 400;
    color: #384250;
    margin-bottom: 16px;
  }
  .circle {
    @include primary-icon-container();
  }

  .actions-container {
    display: grid;
    gap: 8px;
  }
  .groups {
    grid-template-columns: minmax(50%, 100%) repeat(2, 1fr);
  }
  .center {
    place-content: center;
    grid-template-columns: repeat(3, auto);
  }
  .span {
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    button {
      width: 100%;
    }
  }
  &::backdrop {
    background-color: transparent;
  }
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    .actions-container {
      grid-template-columns: 1fr;
      button {
        width: 100%;
      }
    }
  }
}
dialog {
  animation: fade-out 0.3s ease-out;
}

dialog[open] {
  animation: fade-in 0.3s ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.modal-close {
  position: absolute;
  right: 24px;
  top: 24px;
  @include icon($icon-close, 22px, inherit, '::before', 0);
}

/* Base modal styles */
.modal {
  border: none;
  padding: 0;
  background-color: transparent;
}

// /* Backdrop effect */
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Dark semi-transparent background */
  transition: opacity 0.3s ease-in-out;
}

/* Content container */
.modal-content-container {
  display: grid;
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  margin: auto;
  transform: translateY(-50px);
  opacity: 0;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  .close-icon {
    cursor: pointer;
  }
  @include on_mobile {
    margin: 12px;
  }
}

/* Opening animation */
.modal.open .modal-content-container,
.modal[open] .modal-content-container {
  transform: translateY(0);
  opacity: 1;
}

/* Closing animation */
.modal.closing .modal-content-container {
  transform: translateY(0);
  opacity: 0;
}
