
@use "../base" as *;
.pager {
  .pager__items {
    display: flex;
    padding-left: 0;
    list-style: none;
    .pager__item {
      position: relative;
      display: block;
      padding: 8px;
      &:hover {
        z-index: 2;
      }
      &:focus {
        z-index: 3;
      }
      &.pager__item--active,
      .pager__item--active > & {
        z-index: 3;
      }
      &.disabled,
      .disabled > & {
        pointer-events: none;
      }
    }
  }
}