.slider {
    position: relative;
.slider-image {
    img {
      width: 100%;
    }
    video {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        object-fit: cover;
        width: auto;
        margin: auto;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
    &.green-overlay {
      &::after {
        background: linear-gradient(
          0deg,
          rgba(9, 42, 30, 0.8) 0%,
          rgba(9, 42, 30, 0.8) 100%
        );
      }
    }
    &.black-overlay {
      &::after {
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0.5) 100%
        );
      }
    }
    &.gray-overlay {
      &::after {
        background: linear-gradient(45deg, #344054 0%, #475467 100%);
        opacity: 0.5;
      }
    }
  }
}