.table-container {
  max-width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    margin-top: 20px;
    border-spacing: 0;
    border-collapse: separate;

    th,
    td {
      padding: 16px;
      background-clip: padding-box;
      @include on_mobile {
        white-space: nowrap;
      }
    }

    th {
      background-color: $gray-100;
      color: $gray-800;
      @include font-size(12px);
      font-weight: 500;
      line-height: 18px;
      padding: 16px;
    }

    td {
      padding: 20px 16px;
      @include font-size(16px);
      font-weight: 400;
      line-height: 24px;
      color: $gray-900;
    }

    &.even-color {
      tr:nth-child(even) {
        background-color: $gray-400;
      }
    }

    &.cell-bordered {
      td {
        border-inline-start: 1px solid $gray-300;

        &:first-child {
          border-inline-start: none;
        }
      }
    }
  }
}
