@use "../base" as *;

.left-teaser,
.right-teaser {
  position: relative;
  transition: all 0.3s ease;
  display: block;
  overflow: hidden;
  // Utility for content ordering
  .order-first {
    order: -1;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  // Image Scale Effect
  .image-scale {
    &:hover img {
      transform: scale(1.05);
    }
  }

  .left-teaser-img,
  .right-teaser-img {
    position: relative;
    overflow: hidden;

    img {
      transition: transform 0.3s ease;
    }
  }
  .left-teaser-content,
  .right-teaser-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    @include media-breakpoint-max(xl, $grid-breakpoints) {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
  .left-teaser-link,
  .right-teaser-link {
    margin-top: auto;
  }
}
