@use "../base" as *;
// Base element styles
html {
  font-size: 16px;
}

body {
  font-family: 'metropolis', sans-serif;
  direction: ltr;
  text-align: left;
  color: $black;
  font-size: 1rem;
  line-height: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  color: $primary;
  font-weight: 700;

  .hljs-tag {
    color: $primary;
    font-weight: 500;

    .hljs-name {
      color: $red;
    }

    .hljs-attr,
    .hljs-string {
      color: $primary;
    }
  }
}

// Typography elements
p {
  margin-bottom: 0.5rem;
  word-break: break-word;
}

// List elements
ul,
ol {
  padding-left: 1.5em;
}

li {
  margin: 0.5em 0;
}

::marker {
  color: inherit;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  border-left: 4px solid $primary;
  color: $gray-900;
  font-style: italic;
}

figcaption {
  color: $primary;
}
