@each $color, $value in $theme-colors {
  .link-#{$color} {
    color: RGBA(var(--#{$color}-rgb), var(--link-opacity, 1))
      if($enable-important-utilities, !important, null);
    text-decoration-color: RGBA(
        var(--#{$color}-rgb),
        var(--link-underline-opacity, 1)
      )
      if($enable-important-utilities, !important, null);

    @if $link-shade-percentage != 0 {
      &:hover,
      &:focus {
        $hover-color: if(
          color-contrast($value) == $white,
          shade-color($value, $link-shade-percentage),
          tint-color($value, $link-shade-percentage)
        );
        color: RGBA(#{to-rgb($hover-color)}, var(--link-opacity, 1))
          if($enable-important-utilities, !important, null);
        text-decoration-color: RGBA(
            to-rgb($hover-color),
            var(--link-underline-opacity, 1)
          )
          if($enable-important-utilities, !important, null);
      }
    }
  }
}
